body {
  font-family: "Arial", "Meiryo", sans-serif;
}

  .blue {
  color: skyblue;
  }
  .pink{
    color: rgb(255, 192, 203);
  }
h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 {
  font-size= 2.0rem
}

h1 {
  letter-spacing: 1.2rem;,
}

h1 {
  text-shadow: 3px 1px 5px gray;
}

h1 {
  border-bottom: solid 3px  rgb(115, 115, 114);
}

html {
  text-align: center;
}

#basic p {
  font-weight: bold;
}

html  {
  font-size: 20px;
}